<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script> -->
<!-- <script src="../vendor/datamaps.all.min.js"></script> -->
</head>
<body>

<p>Hello World</p>

<form ng-submit="submit()" ng-controller="HomeController">
  Search:
  <input type="text" ng-model="text" name="text" />
  <label for="from">From</label>
  <input type="text" id="from" name="from">
  <label for="to">to</label>
  <input type="text" id="to" name="to">
  <input type="submit" id="submit" value="Submit" />
  {{time_played}}
  {{startDate}}
</form>

<!-- Search: <input type="text" my-on-key-down-call="callRestService()">    -->

</body>
</html>